body {
    margin: 0;
    font-family: 'Kulim Park', sans-serif;
    background-color: antiquewhite;
}

.heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.heading h1 {
    display: block;
    margin: 10px 10px 30px;
    border-bottom: 3px red solid;
    padding-bottom: 15px;
    text-align: right;
}

.mainBody {
    min-width: 1280px;
}

.controlsContainer {
    display: inline-block;
    width: 400px;
    vertical-align: top;
}

.controlsContainer *{
    margin: 10px 20px;
}

.controlsContainer button {
    font-size: 14px;
    border-radius: 7px;
    background-color: lightslategray;
    margin-left: 20px;
    margin-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.controlsContainer p {
    display: block;
    background-color: yellow;
    padding: 5px;
}

.controlsContainer input {
    font-size: 14px;
    border-radius: 8px;
    margin: 10px 5px;
}

#spanOne {
    margin-left: 10px;
    margin-right: 5px;
}

#spanTwo {
    margin-left: 5px;
}

#selectedColor {
    display: inline-block;
    border: 2px darkslategray dashed;
    height: 10px;
    width: 10%;
    margin: 0px;
    transition: 500ms ease;
}

#colorChoice {
    display: inline-block;
}

.sketchContainer {
    display: inline-block;
    width: 50%;
    text-align: center;
    border-left: 3px red solid;
    border-right: 3px red solid;
    vertical-align: top;
}

.modeContainer {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 200px;
}

.modeContainer * {
    display: block;
}

.modeContainer button {
    background-color: coral;
    font-size: 16px;
    padding: 10px 15px;
    margin: 20px auto;
    border-radius: 8px;
    outline: none;
}

button.modeActivated{
    border: 3px solid black;
    padding: 8px 15px;
}

button#clearbtn {
    margin: 80px auto;
}

#sketchGrid {
    margin: auto;
}

.noneDisplay {
    display: none;
}

#bottomBorder {
    display: block;
    border-top: 3px red solid;
    margin-top: 30px;
}
#rangeContainer {
    margin: 20px 20px 10px;
}